.search-container{
    width : 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    input{
        height: 20px;
    }
    button {
        margin:0
    }

}

.book{
    border : 2px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    margin-bottom:5px;
}

p{
    margin: 10px;
}

button{
    margin-bottom: 20px; 
}

.not-available{
    border : 2px solid red;
}